@{
    ViewBag.Title = "Persons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Persons</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">
            <h3 class="panel-title">
                <small class="glyphicon glyphicon-search"></small>
                Search Panel
            </h3>
        </a>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    <label for="txtCode">Code</label>
                </div>
                <div class="col-sm-2">
                    <label for="txtFullname">Fullname</label>
                </div>
                <div class="col-sm-2">
                    <label for="txtWorkplace">Work place</label>
                </div>
                <div class="col-sm-2">
                    <label for="txtAddress">Address</label>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <input id="txtCode" type="text" class="form-control input-sm" />
                </div>
                <div class="col-sm-2">
                    <input id="txtFullname" type="text" class="form-control input-sm" />
                </div>
                <div class="col-sm-2">
                    <input id="txtWorkplace" type="text" class="form-control input-sm" />
                </div>
                <div class="col-sm-2">
                    <input id="txtAddress" type="text" class="form-control input-sm" />
                </div>
                <div class="col-sm-4">
                    <button id="btnSearch" class="btn btn-primary btn-sm">
                        <small class="glyphicon glyphicon-search"></small>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="persons" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Lastname</th>
                    <th>Workplace</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var dt = $('#persons').DataTable({
                proccessing: true,
                serverSide: true,
                searching: false,
                ajax: {
                    url: "/api/persons",
                    type: "POST",
                    data: function (d) {
                        return $.extend({}, d, {
                            search: {
                                code: $('#txtCode').val(),
                                fullname: $('#txtFullname').val(),
                                workplace: $('#txtWorkplace').val(),
                                address: $('#txtAddress').val()
                            }
                        });
                    }
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "code"
                    },
                    {
                        data: "firstname"
                    },
                    {
                        data: "surname"
                    },
                    {
                        data: "lastname"
                    },
                    {
                        data: "workplace"
                    },
                    {
                        data: "address"
                    }
                ]
            });

            $('#btnSearch').click(function () {
                dt.draw();
            })
        });

    </script>
}
