@{
    ViewBag.Title = "Persons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Persons</h2>

<table id="persons" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Lastname</th>
            <th>Workplace</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#persons').DataTable({
                ajax: {
                    url: "/api/persons",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "code"
                    },
                    {
                        data: "firstname"
                    },
                    {
                        data: "surname"
                    },
                    {
                        data: "lastname"
                    },
                    {
                        data: "workplace"
                    },
                    {
                        data: "address"
                    }
                ]
            });
        });
    </script>
}